:root {
    --branding-color: #1D110C;
    --heading-font-family: 'Dancing Script', cursive;
    --body-font-family: 'Raleway', sans-serif;
    --secundary-branding-color: #ECAA68;
}

h1 {
    font-size: 60px;
    font-family: var(--heading-font-family);
    color: var(--secundary-branding-color);
    text-align: center;
    margin: 15px;
}

h2 {
    font-family: var(--body-font-family);
    font-size: 30px;
    color: #F8F8F8;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 15px;
}

h3 {
    font-family: var(--body-font-family);
    font-size: 20px;
    color: #F8F8F8;
    text-align: center;
}

h4 {
    font-family: var(--heading-font-family);
    font-size: 30px;
    color: var(--branding-color);
    text-align: center;
    background-color: var(--secundary-branding-color);
    margin: 5px;
}

p {
    font-family: var(--body-font-family);
    font-size: 16px;
    color: #F8F8F8;
    text-align: center;
}

body {
    background-color: var(--branding-color);
}

img {
    max-width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
  }

.profile {
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.portfolio {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.my-work {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-me {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projects {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-me {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--secundary-branding-color);
}

a:link {
    color: grey;
    text-decoration: none;
  }

a:visited {
   color: #993C27;
   text-decoration: none;
}

a:hover {
    color: var(--branding-color);
    text-decoration: none;
  }

.fa-envelope {
    color: white;
    font-size: 20px;
    text-align: center;
}
